#logo{
	width:272px;
	margin: 40px auto;
	display:block;
}
#tfield{
	width: 40%;
	display:block;
	margin: auto;
	height:39px;
	font-size:14px;
	padding-left: 40px;
	font-family:Arial, sans-serif;
	border: lightgrey solid 1px;
	background-image:url('/../img/search-icon.png');
	background-repeat:no-repeat;
	background-position: 14px 10px;
	background-size: 20px;
	border-radius: 25px;
}
#tfield:hover,#tfield:focus{
	outline:0;
	box-shadow: 0 0 4px 1px lightgrey;
	border: 0;
}
